.eventsSection {
    margin-top: 3% !important;
    position: relative;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

#eventillu {
    width: 100%;
    height: auto;
}

.textOverlay {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
}

.textOverlay h1,
.textOverlay h3,
.textOverlay p,
.textOverlay .homePageBtn {
    margin-bottom: 20px;
}

.textOverlay h1 {
    font-weight: bold;
    font-size: 4vw;
}

@media (max-width: 1200px) {
    .eventsSection{
    margin-top: -1% !important;
    }

    .textOverlay {
    top: 80%;
    left: 30%;
    }

    .textOverlay h1 {
    font-size: 4vw;
    }
}

@media (max-width: 1024px) {
    .eventsSection{
    margin-top: -4% !important;
    }

    .textOverlay {
    top: 80%;
    left: 30%;
    }

    .textOverlay h1 {
    font-size: 4vw;
    }

    .textOverlay h3 {
    font-size: 3vw;
    }

    .textOverlay p {
    font-size: 2.1vw;
    }
}

@media (max-width: 860px) {
    .eventsSection{
    margin-top: -7% !important;
    }

    .textOverlay.textOverlay {
    top: 80%;
    left: 30%;
    margin-top: 5px !important;    
}

    .textOverlay h1 {
    font-size: 3vw;
    }

    .textOverlay h3 {
    font-size: 3vw;
    }

    .textOverlay p {
    font-size: 2.3vw;
    }
}
@media (max-width: 690px) {
    .eventsSection{
    margin-top: -10% !important;
    }

    .textOverlay.textOverlay {
    top: 80%;
    left: 30%;
    margin-top: 5px !important;    
}

    .textOverlay h1 {
    font-size: 3vw;
    }

    .textOverlay h3 {
    font-size: 3vw;
    }

    .textOverlay p {
    font-size: 2.3vw;
    }
}
@media (max-width: 560px) {
    .eventsSection{
    margin-top: -15% !important;
    }

    .textOverlay.textOverlay {
    top: 80%;
    left: 30%;
}

    .textOverlay h1 {
    font-size: 3vw;
    }

    .textOverlay h3 {
    font-size: 3vw;
    }

    .textOverlay p {
    font-size: 2.2vw;
    }
}

@media (max-width: 475px) {
    .eventsSection{
    margin-top: -12% !important;
    }

    .textOverlay.textOverlay {
    top: 80%;
    left: 30%;
}

    .textOverlay h1 {
    font-size: 3vw;
    }

    .textOverlay h3 {
    font-size: 3vw;
    }

    .textOverlay p {
    font-size: 2.2vw;
    }
}