* {
  margin: 0;
  padding: 0;
  color: #37474f;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c0dde5;
  overflow-x: hidden;
}

#header{
  position: sticky;
  top: 0;
  z-index: 10;
}

/* welcome and about us  */
.twoSections {
  position: relative;
}

.backgroudS1 {
  position: absolute;
  width: 100%;
  z-index: -5;
}

.backgroudCurves {
  max-width: 100%;
}

.backgroudCurves:nth-child(1) {
  position: absolute;
  max-width: 45%;
  right: 22vw;
}

#aboutUsCurve {
  position: absolute;
  max-width: 95%;
  height: 120dvh;
  width: 100dvw;
  top: 35vh;
}

.sectionsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200dvh;
  background-image: url("designImages/Group 143.png");
  background-position: top left;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: 95% 60%;
}

.firstSection,
.secondSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
}

.firstSection{
  justify-content: center;
}

.firstSection > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 3%;
  max-width: 40%;
}

.firstSection > div > h1 {
  font-family: "New Class", sans-serif;
  font-size: 16dvw;
  font-weight: 300;
}

.firstSection > div > p {
  font-size: 24px;
  max-width: 70%;
  text-align: center;
  margin-top: -50px;
}

.firstSection > div > button {
  background-color: #f1eae4;
  border-radius: 24px;
  border: none;
  padding: 9px 12px;
}

#girlSitting {
  max-width: 40%;
}

.secondSection {
  margin-left: 11.5%;
  margin-right: 0%;
  /* height: 65vh; */
  max-width: 100%;
  justify-content: center;
  
}

.secondSection > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* min-width: 75%; */
}

.secondSection >  img {
  max-height: 70%;
  margin: 0;
}

.secondSection > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
}

.secondSection > div > p {
  max-width: 80%;
  text-align: center;
  font-size: 24px;
  margin: 5px 0;
}
/* common styling for section headers */
.sectionHeader {
  font-weight: 700;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.homePageBtn {
  color: #F1EAE4;
  font-size: 18px;
  background-color: #e9b9b9;
  border-radius: 159px;
  padding: 6px 12px;
  border: none;
}

#readingCat {
  max-height: 110%;
}

/* Bestselling books section */
.besellingBooksSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -23%;
}

.besellingBooksSection>p{
  text-align: center;
  font-size: 24px;
  width: 40%;
  margin: 1% 0;
}

.bookCarousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.booksDisplay{
  background-color: #F1EAE4;
  border-radius: 88px;
  overflow: hidden;
  /* gap: 50px; */
  padding: 30px 50px;
  max-height: fit-content;
  width: 67dvw;
  position: relative;
}

.arrows{
  z-index: 1;
  cursor: pointer;
  width: 12vw;
  height: 7vh;
}
.arrows:hover{
  opacity: 1;
}
.carousel-control-next, .carousel-control-prev {
  opacity: 1;
  transition: none;
  width: 0%;
}

.carousel-item.active, .carousel-item-start, .carousel-item-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
/* .carousel-item-start{
  padding: 0 10px;
} */

.bookCard{
  display: flex;
  flex-direction: column;
  padding: 2px 5px;
}

.bookCard>p, .bookCard>b{
  font-size: 14px;
}

.bookImg{
  width: 190px;
  height: 290px;
  border-radius: 40px;
  margin-bottom: 5%;
}

.innerBookDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.innerBookDiv>div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pinkAddBtn{
  font-size: 16px;
}

.heartIcon{
  fill: #37474f;
  width: 24px;
  height: 24px;
}

.eventsSection {
  margin-top: 5% !important;
  position: relative;
  display: inline-block;
  max-width: 100%;  /* Ensure it scales to the container */
  max-height: 100%; /* Prevent overflow */
}

#eventillu {
  width: 100%;
  height: auto;
}

.textOverlay {
  position: absolute;
  top: 70%;  /* Center vertically */
  left: 30%; /* Center horizontally */
  transform: translate(-50%, -50%);
  color: black;
}

.textOverlay h1,
.textOverlay h3,
.textOverlay p,
.textOverlay .homePageBtn {
  margin-bottom: 20px;
}

.textOverlay h1 {
  font-weight: bold;
  font-size: 4vw; /* Responsive font size */
}

/* For smaller screens */
@media (max-width: 1200px) {
  .eventsSection{
    margin-top: 5% !important;
  }

  .textOverlay {
    top: 80%;
    left: 30%;
  }

  .textOverlay h1 {
    font-size: 4vw;  /* Slightly smaller font for medium screens */
  }
}

/* For laptops with smaller screen widths (1024px and below) */
@media (max-width: 1024px) {
  .eventsSection{
    margin-top: 13% !important;
  }

  .textOverlay {
    top: 80%;
    left: 30%;
  }

  .textOverlay h1 {
    font-size: 4vw; /* Further reduced font size */
  }

  .textOverlay h3 {
    font-size: 2vw; /* Further reduced font size */
  }

  .textOverlay p {
    font-size: 1.6vw; /* Adjust paragraph size for readability */
  }
}

/* For mobile devices (up to 600px wide) */
@media (max-width: 600px) {
  .eventsSection{
    margin-top: 15% !important;
  }

  .textOverlay.textOverlay {
    top: 80%;
    left: 30%;
}

  .textOverlay h1 {
    font-size: 3vw; /* Further reduced font size */
  }

  .textOverlay h3 {
    font-size: 2vw; /* Further reduced font size */
  }

  .textOverlay p {
    font-size: 1.6vw; /* Adjust paragraph size for readability */
  }
}


/* COMMUNITY SECTION STYLES */
#community
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 345px; */
  height: 245px;
  background-color: #E9B9B9;
  margin-bottom: 500px;
}

#community div{
  flex-direction: row;
}

#community h2{
  margin-bottom: 20px;
}

#community p{
  margin-bottom: 0;
  font-size:20px;
  width: 450px;
  text-align: center;
}

.communityButton{
  background-color: #F1EAE4;
  color: #37474F;
  width: 180px;
  height: 39px;
  border-radius: 159px;
  border: none;
  margin: 20px;
  margin-bottom: 0;
  transition: background-color 0.3s, color 0.3s;
}

.communityButton:hover {
  background-color: #37474F;
  color: #F1EAE4;
}

.communityButton a{
  text-decoration: none;
  /* color: #37474F; */
  color: inherit;
  font-weight: 800;
}

@media (max-width: 500px){
  #community p{
    font-size: 14px;
  }

  .communityButton{
    background-color: #F1EAE4;
    color: #37474F;
    width: 130px;
    height: 29px;
    margin: 10px;
  }
  
}

/* FORTUNE OF THE DAY SECTION */
.fortuneSection
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-bottom: 0%;
  margin-top: 50px;
  height: 50dvh;
  position: relative;
}
#cookie-structure{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("designImages/FortuneCookie/fortuneBanner.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 100%;
  height: 50dvh;
}

#fortuneHeader{
  margin-bottom: -100px;
  margin-top: 20%;
}


 #cookie-structure>p {
  /* transform: translate(-50%, -50%); Offset to truly center */
  color: #000000;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  width: 75%;
}


#quoteDetails{
  text-align: center;
}

#fortuneText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  margin-top: -100px;
  margin-bottom: 0%;
}

@media(max-width: 1300px){
  #cookie-structure>p{
    width: 50%;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 985px){
  #cookie-structure p{
    font-size: 13px;
  }

  #generateQuoteBtn {
    font-size: 13px;
    padding: 8px 12px;
  }
  #fortuneText{
    bottom:-10%;
  }

  #fortuneText p{
    font-size: 16px;
  }
}

@media (max-width: 860px){
  #cookie-structure p{
    font-size: 10px;
  }
  #fortuneText{
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  #quoteDetails p{
    font-size: 14px;
  }

  #generateQuoteBtn {
    font-size: 13px;
    padding: 5px 10px;
  }
}
@media (max-width: 670px){
  #quoteDetails p{
    font-size: 12px;
  }

  #generateQuoteBtn {
    font-size: 12px;
    padding: 4px 8px;
  }

  #fortuneText {
    bottom: -8%;
  }

}

@media (max-width: 600px){

  #cookie-structure p{
    font-size: 8px;
  }
  #quoteDetails p{
    font-size: 10px;
  }

  #generateQuoteBtn {
    font-size: 10px;
    padding: 2px 6px;
  }

  #fortuneText {
    bottom: 0%;
  }
}


@media (max-width: 480px) {

  #fortuneBanner {
    width: 90%;
  }

}


/* ########################################## */
/* .fortuneSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-bottom: 0;
  margin-top: 50px;
  height: 50dvh;
  position: relative;
}

#cookie-structure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-image: url("designImages/FortuneCookie/fortuneBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cookie-structure p {
  color: #000;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  width: 800px;
}

#fortuneText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#quoteDetails {
  text-align: center;
} */


/* MENU STYLES */
.menuSection{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-header p{
  /* width: 670px; */
  width: 70%;
  font-size: 20px;
  text-align: center;
}

#menu{
  background-color: #F1EAE4;
  height: 330px;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.menuSection button{
  background-color: #E9B9B9;
  border-radius: 159px;
  width: 150px;
  height: 39px;
  border: none;
  margin-top: 20px;
}

.menuSection button a{
  color: #F1EAE4;
  font-weight: 800;
  text-decoration: none;
}

.scrollable-menu {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.itemDiv{
  display: flex;
  flex-direction: row;
}

.itemDiv img{
  width: 50px;
  height: 50px;
}
.menu-item {
  width: 500px;
  padding: 15px;
}

/* .menu-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
} */

.menu-item h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.menu-item p {
  font-size: 14px;
  color: #777;
}

.price {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

/* Events Section  */
.eventsSection{
  margin-top: 0%;
}

/* adjusting welcome and about us section for responsiveness on tablet/ laptop and desktop */
@media (max-width: 1250px){
  .secondSection>div>p, .besellingBooksSection>p{
    font-size: 18px;
  }
}

@media (max-width: 1170px){
  #readingCat {
    max-height: 81%;
  }
  .sectionsContent{
    height: 176dvh;
  }
}

@media (max-width: 1090px) {
  .firstSection > div > p{
    margin-top: -45px;
    max-width: 80%;
  }
  #girlSitting{
    max-width: 45%;
    margin-left: 10px;
  }
  .sectionHeader{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
  .secondSection >  img {
    max-height: 40%;
  }
  #readingCat{
    max-height: 70%;
  }
  .secondSection > div > p{
    max-width: 95%;
  }
}
@media (max-width: 980px){
  .secondSection{
    height: 77vh;
  }
  #meowImage{
    width: 15%;
  }
  #readingCat{
    max-width: 32%;
  }
  .besellingBooksSection>p{
    width: 60%;
  }
}
@media (max-width: 950px){
  .secondSection{
    /* margin-top: 5%; */
    margin-left: 10.5%;
  }
}
@media (max-width: 920px){
  
  .firstSection > div > p{
    margin-top: -45px;
    max-width: 90%;
  }
}
@media (max-width: 900px){
  .secondSection{
    margin-left: 11%;
    height: 50vh;
  }
  .sectionsContent{
    background-position-y: 30%;
    height: 160dvh;
  }
}
@media (max-width: 855px){
  .homePageBtn{
    font-size: 14px;
  }
  .firstSection{
     margin-top: 5%;
  }
  .secondSection{
    margin-top: 2%;
    margin-left: 11%;
  }
}
@media (max-width: 840px) {
  #aboutUsCurve{
    height: 108dvh;
  }
}
@media (max-width: 820px) {
  .sectionsContent{
    background: none;
  }
  .secondSection>div>p, .besellingBooksSection>div>p{
    font-size: 18px;
  }
  .firstSection>div>p{
    font-size: 20px;
    margin-top: -30px;
  }
  .firstSection>div>button{
    font-size: 14px;
  }
  .booksDisplay{
    width: 90dvw;
  }
  .backgroudS1{
    display: none;
  }
  .secondSection{
    background-color: #F1EAE4;
    margin-left: 0;
    height: 50dvh;
    margin: 5% 0;
  }
  .secondSection>img:nth-child(1){
    display: none;
  }
}
@media (max-width: 600px){
  .firstSection>div>p{
    font-size: 16px;
    margin-top: -30px;
  }
  .firstSection>div>button{
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  #girlSitting, .secondSection>img{
    display: none;
  } 
  .secondSection>p{
    max-width: 100%;
  }
  .firstSection>div>h1{
    font-size: 150px;
  }
  .firstSection>div>p{
    font-size: 16px;
    margin-top: -40px;
    max-width: 100vw;
  }
  .firstSection{
    width: 100%;
  }
  .secondSection>div>p, .besellingBooksSection>p{
    font-size: 16px;
    width: 85%;
  }
}