* {
    margin: 0;
    padding: 0;
    color: #37474f;
    font-family: "Poppins", sans-serif;
  }
  
body {
  background-color: #F1EAE4;
  overflow-x: hidden;
}

.Book{
  background-color: #f1eae4;
  border-radius: 25px;
  padding: 4px 10px;
  text-align: center;
}
@media (max-width: 1157px) {
  .Book {
    background-color: #c0dde5;
  }
}

/* link in bread crumps */

#books-link, #genre-link{
  text-decoration: none;
  color: #37474f;
}

#books-link{
  font-weight: bold;
}

/* chosen book details */
#chosenBookSection{
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
}

.bookMain{
  padding-left: 20%;
}

/* book img section */
.bookImg{
  width: 200px;
  height: 308px;
  position: absolute;
  top: 25%;
  right: 17.9%;
  border-radius: 10px;
}

.girlImg{
  width: 33%;
  position: absolute;
  top: 22%;
  right: 0;
}

/* book details */
#breadCrumbs{
  margin-bottom: 20px;
}
.bookDetails{
  font-weight: light;
}
#breadCrumbs span, .bookDetails span, .price{
  font-weight: bold;

}

.description{
  width: 610px;
  font-weight: 100;
}

#book-title-breadCrumbs{
  font-weight: normal !important;
}

.purchasingBookSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 610px;
}

.purchasingBookSection div:first-child{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}

.purchasingBookSection div:first-child p{
  font-weight: bold !important;
  margin-bottom: 0;
}
.add-to-cart{ 
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.add-to-cart-btn{
  border: none;
  border-radius: 25px;
  color: #F1EAE4;
  font-weight:bold ;
  background-color: #E9B9B9;
  padding: 15px 25px 15px 25px;
}

#wishlist-btn{
  font-size: 20px;
}

.counter{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 15px;
}

.counter p{
  background-color: #E9B9B9;
  padding: 10px 20px 10px 20px;
  border-radius: 50%;
  color: #F1EAE4;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.counter button{
  background-color: transparent;
  border:none;
}


/* SIMILAR BOOKS STYLES */

.similar-books-section{
  margin-left: 20%;
  margin-top: 50px;
}

.similar-books-section h3{
  font-weight: bold;
  margin-bottom: 50px;
}

/* Carousel and Books Display */
.books-list {
  display: flex;
  flex-direction: row;
  /* gap: 50px; */
  overflow: hidden;
  justify-content: flex-start;
  transition: transform 0.5s ease;

}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
}

.carousel-item {
  flex: 0 0 auto;
  display: flex;
}

/* Arrow Styles */
.scroll-arrow {
  position: absolute;
  top: 111%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1; 
}

.left-arrow {
  left: 150px;
}

.right-arrow {
  right: 120px;
}

.scroll-arrow img {
  width: 50px;
  height: auto;
}

.scroll-arrow:hover {
  opacity: 0.8;
}

/* Book Item Styles */
.book {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 260px;
  /* width: max-content; */

}

.book-img {
  width: 160px;
  height: 220px;
  border-radius: 15px;
}

.book-details {
  margin-top: 20px;
  line-height: 10px;
  font-size: 14px;
}


#book-title {
  font-weight: bold;
  line-height: 18px;
  min-height: 40px;
  margin-bottom: 0;
}

.book-author span {
  font-weight: bold;
}

.price-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.price-div p {
  margin-bottom: 0;
}

.price-div div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.price-div i {
  font-size: 18px;
}

.add-to-cart-btn {
  border: none;
  background-color: #e9b9b9;
  color: #f1eae4;
  font-weight: 700;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;

}

.books-list.transition {
  transition: transform 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
  background-color: #37474f;
  color: #f1eae4;
}


/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-color: #c0dde5;
  align-self: flex-end;
  margin-top: 75px;
  
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 10px 0;
  z-index: 2;
  height: 250px;
}

.logo {
  text-align: center;
}

.logo-circle {
  background-color: #F1EAE4;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-circle img {
  width: 120px;
  height: 74px;
}

.logo-circle p {
  font-size: 14px;
  color: black;
}

.about,
.contact {
  text-align: left;
}

.about h3,
.contact h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
}

.about p,
.contact p {
  font-size: 14px;
  color: black;
  margin: 4px 0;
}

.copyright {
  background-color: #F1EAE4;
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 2;
  top: 20px;
}


/* MEDIA QUERIES */
@media (max-width: 1325px){
  #chosenBookSection{
    flex-direction: column;
  }
  #imagesContainer .girlImg{
    display: none;
  }

  #imagesContainer #book-image{
    position: relative;
  }

  .bookMain{
    padding-left: 0%;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px){
  .book {
    width: 250px;
  }

  .scroll-arrow {
    top: 130%;
  }
  
  .left-arrow {
    left: 80px;
  }
  
  .right-arrow {
    right: 120px;
  }

  #book-image{
    margin-left: 130px !important;
  }
  
}

@media (max-width: 640px){
  .description{
    width: 80%;

  }

  .purchasingBookSection{
    max-width: 80%;
  }
}
@media (max-width: 400px){
  .description, .purchasingBookSection{
    width: 370px;
  }

  .bookMain{
    padding-left: 5%;
  }

  .purchasingBookSection{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    
  }
  #wishlist-btn{
    font-size: 20px;
  }

  #book-image{
    margin-left: 125px !important;
  }

  .similar-books-section{
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .book{
    width: fit-content;
    justify-content: center;
    align-items: center;
  }

  
  .scroll-arrow {
    top: 145%;
  }
  
  .left-arrow {
    left: 40px;
  }
  
  .right-arrow {
    right: 40px;
  }

  footer{
    padding-top: 30px;
  }
  .footer-content {
    display: contents;
    justify-content: center;
    align-items: flex-start;
  }
}
