* {
  margin: 0;
  padding: 0;
  color: #37474f;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c0dde5 !important;
  overflow-x: hidden;
}

#header {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* LANDING STYLES */
#LandingText{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#LandingText h1{
  font-family: "New Class";
  font-size: 150px;
  font-weight: 400;
  margin-bottom: 0;
}

#LandingText p{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 40%;
  margin-top: -2%;
}

#LandingText p span{
  font-weight: 700;
}

#landingSection img{
  position: absolute;
}
#landingSection img:nth-of-type(1){
  width: 25%;
  margin-top: 20px;
  left: 33%;
  /* right: 50%; */
}

#landingSection img:nth-of-type(2){
  left: 16%;
  width: 10%;
  top: 23%;
}

#landingSection img:nth-of-type(3){
  right: 16%;
  width: 13%;
  top: 21%;
}

#landingSection img:nth-of-type(4){
  top: 87%;
  width: 100%;
}

#landingSection img:nth-of-type(5){
  top: 67%;
  width: 13%;
  right: 23%;
}

/* MAIN PAGE STYLES */

#main{
  background-color: #F1EAE4;
  margin-top: 35%;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#filters{
  flex: 1;
  margin: 0 10% 0 8%;
}

#books{
  flex:4;
}
/* Types of books */
#TypesOfBooks, #Genre{
  margin-bottom: 50px;
}
#TypesOfBooks h3, #Genre h3{
  font-weight: 900;
  margin-bottom: 20px;
}

#TypesOfBooks ul, #Genre ul{
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
#TypesOfBooks a, #Genre a{
  text-decoration: none;
  color: #37474f;
  width: 150px;
  margin-bottom: 20px;

}

#TypesOfBooks a:last-child, #Genre a:last-child{
  margin-bottom: 0%;
  
}

/* Pink background when clicked */
a.active {
  background-color: #E9B9B9;
  padding: 5px 0 5px 10px;
  border-radius: 159px;
  color: #F1EAE4 !important;
  font-weight: 600;
}


/* books section styles */
#booksTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

#bookFilteredGenres{
  display: flex;
  flex-direction: row;
}

#bookFilteredGenres p{
  margin-right: 30px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0%;
}

#search-sort button{
  background-color: #E9B9B9;
  color: #F1EAE4;
  font-weight: 700;
  border-radius: 159px;
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 15px;
}
#search-sort button:first-child{
  margin-right: 10px;
}



/* genre sections styles */
#genre-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.genre-title{
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}
.genre-section{
  /* overflow-y: hidden;
  overflow-x: scroll; */

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.genre-section::-webkit-scrollbar {
  display: none;
}

.books-list{
  display: flex;
  flex-direction: row;
  gap: 30px; /
}


.book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
}


.book-img{
  width: 130px;
  height: 220px;
  border-radius: 15px;
}

.book-details{
  margin-top: 10px;
  line-height: 10px;
}
.book-details p:first-child{
  font-weight: bold;
  line-height: 18px;
  min-height: 40px;
  margin-bottom: 0%;
}

.book-author span{
  font-weight: bold;
}

.price-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


}

.price-div p{
  margin-bottom: 0%;
}
.price-div div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.price-div i{
  font-size: 18px;
}

.add-to-cart-btn{
  border: none;
  background-color: #E9B9B9;
  color: #F1EAE4;
  font-weight: 700;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  font-size: 14px;
}



#books-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
}

#carousel-books {
  display: flex; 
  flex-direction: column;
  gap: 30px;              
  width: 100%;
  /* overflow: hidden;   */
}

.carousel-item {

  /* display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex: 0 0 auto;
  width: 33.33%; */

  flex: 0 0 auto;
  display: flex;
}

#scroll-left img, #scroll-right img {
  width: 30px;
  height: auto;
}

#scroll-left, #scroll-right {
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#scroll-left:hover, #scroll-right:hover {
  opacity: 0.8;
}

.genre-books {
  display: flex;
  flex-direction: row;
  /* gap: 30px;
  overflow: hidden; */

  display: flex;
  flex-direction: column;
  gap: 20px;
}


.book {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
}