* {
  margin: 0;
  padding: 0;
  color: #37474f;
  font-family: "Poppins", sans-serif;
}

main{
  overflow: scroll;
  max-height: 300vh;
  overflow-x: hidden;
  padding: 10px 0;
}
main::-webkit-scrollbar{
  display: none;
}
/* Top section of room  */
#topSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  padding: 10px 0;
  background-color: #c0dde5;
}
.roomName {
  font-family: "New Class", sans-serif;;
}
.postBtn {
  background-color: #e9b9b9;
  color: #f1eae4;
  font-size: 20px;
  display: flex;
  align-items: center;
  max-height: min-content;
  padding: 5px 15px;
  border: none;
  max-width: 160px;
  border-radius: 27px;
  font-weight: 600;
  position: fixed;
  top: 19%;
  right: 5%;
  z-index: 1000;
}
.postBtn > img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.postBtn:hover, .smallPostBtn:hover, #fileInputDiv > label>p:hover {
  background-color: #37474f;
  color: #f1eae4;
}

.postBtn, .smallPostBtn, #fileInputDiv > label>p{
  transition: background-color 0.3s, color 0.3s;
}
/* Post popup */
.modal {
  background-color: #f1eae4;
}
#newPostModal .modal-content {
  padding: 15px 20px;
  background-color: #f1eae4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#newPostModal .modal-body{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#fileInputDiv {
  border: 2px solid black;
  padding: 50px 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
#fileInputDiv>label{
  cursor: pointer;
}
#fileInputDiv > label>p {
  background-color: #e9b9b9;
  color: white;
  padding: 5px 18px;
  border-radius: 50px;
  margin: 0;
}
#inputImg{
  display: none;
}
#fileInput {
  display: none;
}
#descInputDiv {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#descInputDiv > label {
  text-align: left;
  margin-left: 15px;
  cursor: pointer;
  font-weight: 600;
}
#description {
  background-color: #f1eae4;
  border-radius: 27px;
  padding: 15px 30px;
  border: 2px solid black;
  outline: none;
  font-size: 14px;
}
#description:focus {
  outline: none;
}
.smallPostBtn{
  background-color: #e9b9b9;
  padding: 4px 15px;
  color: #ffff;
  border-radius: 25px;
  margin-top: 20px;
}


/* post  */
#postsSection{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  align-self: center;
}

.post{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 10px;
  /* max-height: 70vh; */
  gap: 30px;
  flex-wrap: wrap;
}
.postDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  background-color: #f1eae4;
  border-radius: 40px;
  min-width: 300px;
}
.topPostSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #e9b9b9;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 10px;
}
.topPostSection>h2{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.topPostSectionImg{
  width: 50px;
  height: 50px;
  margin-left: 7%;
  margin-right: 10px;
}
.postMainContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  /* width: 90%; */
  padding: 10px;
}
.postImg, .postCaption{
  margin: 15px 0;
  width: 90%;
}
.postInnerDiv{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}
.postInnerDiv>div{
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
}
.heartIcon, .commentIcon{
  margin-right: 5px;
}
.icon{
  width: 25px;
  height: 25px;
  fill: #37474f;
  cursor: pointer;
}
.iconImg{
  height: 21.5px;
  width: 25px;
  display: none;
  margin-right: 5px;
}

/* comments  */
.commentsDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f1eae4;
  width: 30%;
  min-width: 300px;
  border-radius: 35px;
  height: 70dvh;
  overflow-y: scroll;
  min-width:200px;
}
.commentsDiv::-webkit-scrollbar{
  display: none;
}
.topCommentSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e9b9b9;
  border-radius: 48px;
  width: 100%;
  padding: 5.2px 30px;
  font-weight: 600;
}
.topCommentSectionUser, .topCommentSectionActions{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topCommentSectionUser>img{
  width: 50px;
  height: 50px;
}
.topCommentSectionActions{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topCommentSectionActions>svg{
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
.topCommentSectionUser>h3, .topCommentSectionActions>p{
  margin: 0%;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}
.topCommentSectionUser>h3{
  margin-left: 10px;
  font-size: 16px;
}
.replyIcon{
  transform: scaleX(-1);
}
.commentMainSection{
  margin: 20px 25px;
}

/* comment and reply popups  */
#commentModal .modal-content, #replyModal .modal-content{
  background-color: #f1eae4;
}
#commentModal .modal-body, #replyModal .modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#commentModal label, #replyModal label{
  font-weight: 600;
}
#commentModal textarea, #replyModal textarea{
  width: 100%;
  padding: 10px 30px;
  height: 150px;
  background-color: #f1eae4;
  border-radius: 30px;
  resize: none;
  border: 2px solid black;

}

@media (max-width: 1195px){
  .commentsDiv{
    width: 35%;
  }
  .postDiv{
    width: 50%;
  }
}
@media(max-width: 980px){
  .commentsDiv{
    width: 37%;
  }
  .postDiv{
    width: 52%;
  }
}
@media(max-width: 950px){
  .commentsDiv{
    width: 39%;
  }
  .postDiv{
    width: 54%;
  }
}
@media(max-width: 910px){
  .post{
    gap: 0;
  }
  .commentsDiv{
    width: 56%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 30vh;
    min-width: 300px;
  }
  .postDiv{
    width: 56%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #postsSection{
    gap: 15px;
  }
 
}
@media(max-width: 630px){
  .topCommentSectionActions>p, .topCommentSectionUser>h3{
    font-size: 16px;
  }
  .topCommentSectionUser>img{
    width: 35px;
    height: 35px;
  }
  .topCommentSectionActions>svg {
    width: 20px;
    height: 20px;
    margin: 0 4px;
  }
  .commentsDiv,.postDiv{
    width: 70%;
  }
}
@media(max-width: 600px){

    #newPostBtn{
      top: 45%;
    }
}
@media (max-width: 500px){
  .postDiv, .commentsDiv{
    width: 80%;
  }
  .topCommentSectionUser>h3, .topCommentSectionActions>p, .commentMainSection{
    font-size: 14px;
  }
}
@media(max-width: 376px){
  #newPostBtn{
    top: 35%;
  }
}