/* Top section of room  */
#topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
.roomName {
  font-family: "New Class", sans-serif;
}
.postBtn {
  background-color: #e9b9b9;
  color: #f1eae4;
  font-size: 20px;
  display: flex;
  padding: 5px 15px;
  border: none;
  border-radius: 27px;
}
.postBtn>img{
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
.postBtn:hover {
  background-color: #37474f;
  color: #f1eae4;
}

.postBtn {
  transition: background-color 0.3s, color 0.3s;
}
.mainUserIcon {
  width: 100px;
  height: 100px;
}
.modal{
    background-color: #F1EAE4;
}
#newPostModal .modal-content{
    min-width: 30dvw;
}
#fileInputDiv{
    border: 1px solid black ;
    padding: 50px 55px;
    border-radius: 30px;
}
#fileInputDiv>label{
    background-color: #e9b9b9;
    color: white;
    padding: 5px 15px ;
    border-radius: 50px;
}
#fileInput{
    display: none;
}
#descInputDiv{
    margin: 10px 0;
}
#descInputDiv>label{
    text-align: left;
}
